//
// user-variables.scss
// Use this to overwrite Bootstrap and Landkit variables
//

// Example of a variable override to change Landkit's background color
// Remove the "//" to comment it in and see it in action!
// $font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;

$custom-switch-indicator-bg: white !default;
$custom-switch-indicator-active-bg: white !default;
$custom-switch-bg-checked: #5005F2 !default;
$custom-switch-bg: #5005F2 !default;
