//
// user.scss
// Use this to write your custom SCSS
//



body{
	font-family: 'Noto Sans TC', sans-serif;
	font-weight:300;
	color:#4D4D4F;
}
.bg-cooby-1{
	background-color:#280379 !important;
}
.bg-cooby-2{
	background-color:#2F026D !important;
}
.bg-cooby-3{
	background-color:#5f2179 !important;
}
.bg-cooby-light-gray{
	background-color:#F6F6F6 !important;
}
.cooby-shadow{
	box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
}
.cooby-shadow-inset{
	box-shadow: inset 0 -10px 50px -10px rgba(22, 28, 45, 0.1);
}
.border-cooby-primary{
	border-color:#5005F2;
}
.border-top-cooby{
	border-top: 3px solid #5005F2 !important;
}
.border-bottom-cooby{
	border-bottom: 1px solid #E6E7E8 !important;
}
ul li{
	font-size:15px;
}
.navbar-nav .nav-link{
	font-weight:400;
}
.btn{
	font-weight:500;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus{
	background-color:#5005F2;
}

.btn-primary-soft, .btn-primary-soft:hover, .btn-primary-soft:focus{
    background-color: white;
    border:2px solid #5005F2;
    color: #5005F2;
}
.btn:not([class*="btn-outline"]){
    border-color: #5005F2 !important;
}
.navbar-light .navbar-nav .nav-link{
	color:#292728;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#5005F2;
}
.text-primary{
	color:#5005F2 !important;
}
.text-green{
	color:#06BF9D;
}
.text-muted{
	color:#000000 !important;
}
.badge-success-soft{
	background-color: rgba(66, 186, 150, 0.1);
}
.text-success{
	color:#06BF9D !important;
}
a{
	color:#06BF9D;
}
a:hover{
	color:#06BF9D;
}
h3{
	font-weight:600;
}

.font-weight-bold{
font-weight: 500 !important;
}
